body{
	font-family: 'Roboto Condensed', sans-serif;
	font-family: 'Hind', sans-serif;
	font-family: 'Catamaran', sans-serif;
	margin:0;
	padding:0;
	background-color: #E9E9E9;
	background-image: url(../img/loader_background.png);
	text-align: center;
	z-index: 10;
}

.loader-wrapper{
	padding-top: 35vh;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
  	border-radius: 5px;
  	background: url(../img/loader_background.png);
  	text-align: center;
  	z-index: 11;
  	opacity: 1;
  	transition: all ease 1s;
}

.loader-labels {
	list-style-type: none;
  	margin: 0 auto;
  	display: inline-block;
  	padding: 0px;
  	width: 200px;
  	height: 40px;
  	overflow: hidden;
}

.loader-label {
	float: left;
	height: 40px;
	line-height: 30px;
	padding: 0px;
	font-family: 'Barlow Condensed', sans-serif;
	font-family: 'Amatic SC', cursive;
	color: #88BBD6;
	font-size: 35px;
	width: 200px;
	position: relative;
  
  	animation: textUp ease 2.5s;
  	animation-iteration-count: 2;
  	animation-fill-mode: forwards;

  	-webkit-animation: textUp ease 2.5s;
  	-webkit-animation-iteration-count: 2;
  	-webkit-animation-fill-mode: forwards;
  	
  	/*Chrome 16+, Safari 4+*/
  	-moz-animation: textUp ease 2.5s;
  	-moz-animation-iteration-count: 2;
  	-moz-animation-fill-mode: forwards;
  
  	/*FF 5+*/
  	-o-animation: textUp ease 2.5s;
  	-o-animation-iteration-count: 2;
  	-o-animation-fill-mode: forwards;
  
  	/*Not implemented yet*/
  	-ms-animation: textUp ease 2.5s;
  	-ms-animation-iteration-count: 2;
  	-ms-animation-fill-mode: forwards;
  	/*IE 10+*/
}


.loader {
	width: 120px;
  	height: 120px;

  	background-color: #E6E6E6;
  	overflow: hidden;
  	display: block;
  	
  	-moz-border-radius: 100%;
  	-webkit-border-radius: 100%;
  	border-radius: 100%;
  
  	border: 3px solid #88BBD6;
  	position: relative;
  	margin: 15px auto;
  	z-index: 1;
  
  	animation: colorChange ease 2.5s;
  	animation-iteration-count: 2;
  	animation-fill-mode: forwards;
  
  	-webkit-animation: colorChange ease 2.5s;
  	-webkit-animation-iteration-count: 2;
  	-webkit-animation-fill-mode: forwards;
  
  	/*Chrome 16+, Safari 4+*/
  	-moz-animation: colorChange ease 2.5s;
  	-moz-animation-iteration-count: 2;
  	-moz-animation-fill-mode: forwards;
  
  	/*FF 5+*/
  	-o-animation: colorChange ease 2.5s;
  	-o-animation-iteration-count: 2;
  	-o-animation-fill-mode: forwards;
  
  	/*Not implemented yet*/
  	-ms-animation: colorChange ease 2.5s;
  	-ms-animation-iteration-count: 2;
  	-ms-animation-fill-mode: forwards;
  	/*IE 10+*/
}

.loaded .loader-wrapper, .loaded .loader, .loaded .loader-labels{
  opacity: 0;
  -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%);  /* IE 9 */
  transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
  visibility: hidden;

  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
 
  -webkit-transition: all 0.3s 1s ease-out; 
  transition: all 0.3s 1s ease-out;
}

}

.hidden {
  display: none;
}

.loader-element {
  bottom: 10px;

  animation: animationFrames ease-in 2.5s;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;

  -webkit-animation: animationFrames ease-in 2.5s;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-fill-mode: forwards;
  /*Chrome 16+, Safari 4+*/
  -moz-animation: animationFrames ease-in 2.5s;
  -moz-animation-iteration-count: 2;
  -moz-animation-fill-mode: forwards;
  /*FF 5+*/
  -o-animation: animationFrames ease-in 2.5s;
  -o-animation-iteration-count: 2;
  -o-animation-fill-mode: forwards;
  /*Not implemented yet*/
  -ms-animation: animationFrames ease-in 2.5s;
  -ms-animation-iteration-count: 2;
  -ms-animation-fill-mode: forwards;
  /*IE 10+*/
}

.loader-element img {
  bottom: 5px;
  position: relative;
  right: 3px;
}

@keyframes textUp {
  0% {
    top: 0px;
    display: relative;
    opacity: 0;
  }
  1% {
    top: 0px;
    display: relative;
    opacity: 1;
  }
  24% {
    top: 0px;
    display: relative;
    opacity: 1;
  }
  25% {
    top: 0px;
    display: none;
    opacity: 0;
  }
  26% {
    top: -40px;
    display: relative;
    opacity: 0;
  }
  27% {
    top: -40px;
    display: relative;
    opacity: 1;
  }
  49% {
    top: -40px;
    display: relative;
    opacity: 1;
  }
  50% {
    top: -40px;
    display: none;
    opacity: 0;
  }
  51% {
    top: -80px;
    display: relative;
    opacity: 0;
  }
  52% {
    top: -80px;
    display: relative;
    opacity: 1;
  }
  74% {
    top: -80px;
    display: relative;
    opacity: 1;
  }
  75% {
    top: -80px;
    display: none;
    opacity: 0;
  }
  76% {
    top: -120px;
    display: relative;
    opacity: 0;
  }
  77% {
    top: -120px;
    display: relative;
    opacity: 1;
  }
  99% {
    top: -120px;
    display: relative;
    opacity: 1;
  }
  100% {
    top: -120px;
    display: none;
    opacity: 0;
  }
}

@-webkit-keyframes textUp {
  0% {
    top: 0px;
    display: relative;
    opacity: 0;
  }
  1% {
    top: 0px;
    display: relative;
    opacity: 1;
  }
  24% {
    top: 0px;
    display: relative;
    opacity: 1;
  }
  25% {
    top: 0px;
    display: none;
    opacity: 0;
  }
  26% {
    top: -40px;
    display: relative;
    opacity: 0;
  }
  27% {
    top: -40px;
    display: relative;
    opacity: 1;
  }
  49% {
    top: -40px;
    display: relative;
    opacity: 1;
  }
  50% {
    top: -40px;
    display: none;
    opacity: 0;
  }
  51% {
    top: -80px;
    display: relative;
    opacity: 0;
  }
  52% {
    top: -80px;
    display: relative;
    opacity: 1;
  }
  74% {
    top: -80px;
    display: relative;
    opacity: 1;
  }
  75% {
    top: -80px;
    display: none;
    opacity: 0;
  }
  76% {
    top: -120px;
    display: relative;
    opacity: 0;
  }
  77% {
    top: -120px;
    display: relative;
    opacity: 1;
  }
  99% {
    top: -120px;
    display: relative;
    opacity: 1;
  }
  100% {
    top: -120px;
    display: none;
    opacity: 0;
  }
}

@-moz-keyframes textUp {
  0% {
    top: 0px;
    display: relative;
    opacity: 0;
  }
  1% {
    top: 0px;
    display: relative;
    opacity: 1;
  }
  24% {
    top: 0px;
    display: relative;
    opacity: 1;
  }
  25% {
    top: 0px;
    display: none;
    opacity: 0;
  }
  26% {
    top: -40px;
    display: relative;
    opacity: 0;
  }
  27% {
    top: -40px;
    display: relative;
    opacity: 1;
  }
  49% {
    top: -40px;
    display: relative;
    opacity: 1;
  }
  50% {
    top: -40px;
    display: none;
    opacity: 0;
  }
  51% {
    top: -80px;
    display: relative;
    opacity: 0;
  }
  52% {
    top: -80px;
    display: relative;
    opacity: 1;
  }
  74% {
    top: -80px;
    display: relative;
    opacity: 1;
  }
  75% {
    top: -80px;
    display: none;
    opacity: 0;
  }
  76% {
    top: -120px;
    display: relative;
    opacity: 0;
  }
  77% {
    top: -120px;
    display: relative;
    opacity: 1;
  }
  99% {
    top: -120px;
    display: relative;
    opacity: 1;
  }
  100% {
    top: -120px;
    display: none;
    opacity: 0;
  }
}

@-o-keyframes textUp {
  0% {
    top: 0px;
    display: relative;
    opacity: 0;
  }
  1% {
    top: 0px;
    display: relative;
    opacity: 1;
  }
  24% {
    top: 0px;
    display: relative;
    opacity: 1;
  }
  25% {
    top: 0px;
    display: none;
    opacity: 0;
  }
  26% {
    top: -40px;
    display: relative;
    opacity: 0;
  }
  27% {
    top: -40px;
    display: relative;
    opacity: 1;
  }
  49% {
    top: -40px;
    display: relative;
    opacity: 1;
  }
  50% {
    top: -40px;
    display: none;
    opacity: 0;
  }
  51% {
    top: -80px;
    display: relative;
    opacity: 0;
  }
  52% {
    top: -80px;
    display: relative;
    opacity: 1;
  }
  74% {
    top: -80px;
    display: relative;
    opacity: 1;
  }
  75% {
    top: -80px;
    display: none;
    opacity: 0;
  }
  76% {
    top: -120px;
    display: relative;
    opacity: 0;
  }
  77% {
    top: -120px;
    display: relative;
    opacity: 1;
  }
  99% {
    top: -120px;
    display: relative;
    opacity: 1;
  }
  100% {
    top: -120px;
    display: none;
    opacity: 0;
  }
}

@-ms-keyframes textUp {
  0% {
    top: 0px;
    display: relative;
    opacity: 0;
  }
  1% {
    top: 0px;
    display: relative;
    opacity: 1;
  }
  24% {
    top: 0px;
    display: relative;
    opacity: 1;
  }
  25% {
    top: 0px;
    display: none;
    opacity: 0;
  }
  26% {
    top: -40px;
    display: relative;
    opacity: 0;
  }
  27% {
    top: -40px;
    display: relative;
    opacity: 1;
  }
  49% {
    top: -40px;
    display: relative;
    opacity: 1;
  }
  50% {
    top: -40px;
    display: none;
    opacity: 0;
  }
  51% {
    top: -80px;
    display: relative;
    opacity: 0;
  }
  52% {
    top: -80px;
    display: relative;
    opacity: 1;
  }
  74% {
    top: -80px;
    display: relative;
    opacity: 1;
  }
  75% {
    top: -80px;
    display: none;
    opacity: 0;
  }
  76% {
    top: -120px;
    display: relative;
    opacity: 0;
  }
  77% {
    top: -120px;
    display: relative;
    opacity: 1;
  }
  99% {
    top: -120px;
    display: relative;
    opacity: 1;
  }
  100% {
    top: -120px;
    display: none;
    opacity: 0;
  }
}

@keyframes colorChange {
  0% {
    background-color: #E6E6E6;
  }
  25% {
    background-color: #E6E6E6;
  }
  26% {
    background-color: #E6E6E6;
  }
  50% {
    background-color: #E6E6E6;
  }
  51% {
    background-color: #E6E6E6;
  }
  75% {
    background-color: #E6E6E6;
  }
  76% {
    background-color: #E6E6E6;
  }
  100% {
    background-color: #E6E6E6;
  }
}

@-webkit-keyframes colorChange {
  0% {
    background-color: #E6E6E6;
  }
  25% {
    background-color: #E6E6E6;
  }
  26% {
    background-color: #E6E6E6;
  }
  50% {
    background-color: #E6E6E6;
  }
  51% {
    background-color: #E6E6E6;
  }
  75% {
    background-color: #E6E6E6;
  }
  76% {
    background-color: #E6E6E6;
  }
  100% {
    background-color: #E6E6E6;
  }
}

@-moz-keyframes colorChange {
  0% {
    background-color: #E6E6E6;
  }
  25% {
    background-color: #E6E6E6;
  }
  26% {
    background-color: #E6E6E6;
  }
  50% {
    background-color: #E6E6E6;
  }
  51% {
    background-color: #E6E6E6;
  }
  75% {
    background-color: #E6E6E6;
  }
  76% {
    background-color: #E6E6E6;
  }
  100% {
    background-color: #E6E6E6;
  }
}

@-o-keyframes colorChange {
  0% {
    background-color: #E6E6E6;
  }
  25% {
    background-color: #E6E6E6;
  }
  26% {
    background-color: #E6E6E6;
  }
  50% {
    background-color: #E6E6E6;
  }
  51% {
    background-color: #E6E6E6;
  }
  75% {
    background-color: #E6E6E6;
  }
  76% {
    background-color: #E6E6E6;
  }
  100% {
    background-color: #E6E6E6;
  }
}

@-ms-keyframes colorChange {
  0% {
    background-color: #E6E6E6;
  }
  25% {
    background-color: #E6E6E6;
  }
  26% {
    background-color: #E6E6E6;
  }
  50% {
    background-color: #E6E6E6;
  }
  51% {
    background-color: #E6E6E6;
  }
  75% {
    background-color: #E6E6E6;
  }
  76% {
    background-color: #E6E6E6;
  }
  100% {
    background-color: #E6E6E6;
  }
}

@keyframes animationFrames {
  0% {
    transform: translate(-360px, 15px);
    opacity: 0;
  }
  1% {
    transform: translate(-360px, 15px);
    opacity: 1;
  }
  24% {
    transform: translate(-360px, 15px);
    opacity: 1;
  }
  25% {
    transform: translate(-360px, 15px);
    opacity: 0;
  }
  26% {
    transform: translate(-240px, 15px);
    opacity: 0;
  }
  27% {
    transform: translate(-240px, 15px);
    opacity: 1;
  }
  49% {
    transform: translate(-240px, 15px);
    opacity: 1;
  }
  50% {
    transform: translate(-240px, 15px);
    opacity: 0;
  }
  51% {
    transform: translate(-120px, 15px);
    opacity: 0;
  }
  52% {
    transform: translate(-120px, 15px);
    opacity: 1;
  }
  74% {
    transform: translate(-120px, 15px);
    opacity: 1;
  }
  75% {
    transform: translate(-120px, 15px);
    opacity: 0;
  }
  76% {
    transform: translate(0px, 15px);
    opacity: 0;
  }
  77% {
    transform: translate(0px, 15px);
    opacity: 1;
  }
  99% {
    transform: translate(0px, 15px);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 15px);
    opacity: 0;
  }
}

@-moz-keyframes animationFrames {
  0% {
    transform: translate(-480px, 15px);
  }
  20% {
    transform: translate(-480px, 15px);
  }
  21% {
    transform: translate(-360px, 15px);
  }
  40% {
    transform: translate(-360px, 15px);
  }
  41% {
    transform: translate(-240px, 15px);
  }
  60% {
    transform: translate(-240px, 15px);
  }
  61% {
    transform: translate(-120px, 15px);
  }
  80% {
    transform: translate(-120px, 15px);
  }
  81% {
    transform: translate(0px, 15px);
  }
  100% {
    transform: translate(0px, 15px);
  }
}

@-webkit-keyframes animationFrames {
  0% {
    transform: translate(-360px, 15px);
    opacity: 0;
  }
  1% {
    transform: translate(-360px, 15px);
    opacity: 1;
  }
  24% {
    transform: translate(-360px, 15px);
    opacity: 1;
  }
  25% {
    transform: translate(-360px, 15px);
    opacity: 0;
  }
  26% {
    transform: translate(-240px, 15px);
    opacity: 0;
  }
  27% {
    transform: translate(-240px, 15px);
    opacity: 1;
  }
  49% {
    transform: translate(-240px, 15px);
    opacity: 1;
  }
  50% {
    transform: translate(-240px, 15px);
    opacity: 0;
  }
  51% {
    transform: translate(-120px, 15px);
    opacity: 0;
  }
  52% {
    transform: translate(-120px, 15px);
    opacity: 1;
  }
  74% {
    transform: translate(-120px, 15px);
    opacity: 1;
  }
  75% {
    transform: translate(-120px, 15px);
    opacity: 0;
  }
  76% {
    transform: translate(0px, 15px);
    opacity: 0;
  }
  77% {
    transform: translate(0px, 15px);
    opacity: 1;
  }
  99% {
    transform: translate(0px, 15px);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 15px);
    opacity: 0;
  }
}

@-o-keyframes animationFrames {
  0% {
    transform: translate(-360px, 15px);
    opacity: 0;
  }
  1% {
    transform: translate(-360px, 15px);
    opacity: 1;
  }
  24% {
    transform: translate(-360px, 15px);
    opacity: 1;
  }
  25% {
    transform: translate(-360px, 15px);
    opacity: 0;
  }
  26% {
    transform: translate(-240px, 15px);
    opacity: 0;
  }
  27% {
    transform: translate(-240px, 15px);
    opacity: 1;
  }
  49% {
    transform: translate(-240px, 15px);
    opacity: 1;
  }
  50% {
    transform: translate(-240px, 15px);
    opacity: 0;
  }
  51% {
    transform: translate(-120px, 15px);
    opacity: 0;
  }
  52% {
    transform: translate(-120px, 15px);
    opacity: 1;
  }
  74% {
    transform: translate(-120px, 15px);
    opacity: 1;
  }
  75% {
    transform: translate(-120px, 15px);
    opacity: 0;
  }
  76% {
    transform: translate(0px, 15px);
    opacity: 0;
  }
  77% {
    transform: translate(0px, 15px);
    opacity: 1;
  }
  99% {
    transform: translate(0px, 15px);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 15px);
    opacity: 0;
  }
}

@-ms-keyframes animationFrames {
  0% {
    transform: translate(-360px, 15px);
    opacity: 0;
  }
  1% {
    transform: translate(-360px, 15px);
    opacity: 1;
  }
  24% {
    transform: translate(-360px, 15px);
    opacity: 1;
  }
  25% {
    transform: translate(-360px, 15px);
    opacity: 0;
  }
  26% {
    transform: translate(-240px, 15px);
    opacity: 0;
  }
  27% {
    transform: translate(-240px, 15px);
    opacity: 1;
  }
  49% {
    transform: translate(-240px, 15px);
    opacity: 1;
  }
  50% {
    transform: translate(-240px, 15px);
    opacity: 0;
  }
  51% {
    transform: translate(-120px, 15px);
    opacity: 0;
  }
  52% {
    transform: translate(-120px, 15px);
    opacity: 1;
  }
  74% {
    transform: translate(-120px, 15px);
    opacity: 1;
  }
  75% {
    transform: translate(-120px, 15px);
    opacity: 0;
  }
  76% {
    transform: translate(0px, 15px);
    opacity: 0;
  }
  77% {
    transform: translate(0px, 15px);
    opacity: 1;
  }
  99% {
    transform: translate(0px, 15px);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 15px);
    opacity: 0;
  }
}

header{
	background-color: #99D3DF;
	height: 75px;
	width: 100%;
	display: block;
	position:fixed;
	bottom: 0;
	z-index: 1;
}

.header_line{
	height: 2px;
	color: #444;
	background-color: #88BBD6;
	width: 100%;
	z-index: 1;
}

.header_wrapper{
	overflow: scroll;
	bottom: 0;
	padding-bottom: 7px;
}

.header_navbar{
	display: block;
	float: left;
}

.header_navbar a{
	float: left;
	text-align: center;
	text-decoration: none;
	font-size: 17px;
	padding: 10px 7px;
	color: #E9E9E9;
}

.header_navbar a:active{
	color: #200;
}

.header_navbar a:hover{
	color: #888;
}

.header_navbar a:hover{
	color: #888;
}

.header_navbar_nav{
	margin-top: 12px;
	display: inline-block;
}

#header_navbar_firstname{
	color: #E9E9E9;
	font-size: 40px;
	text-decoration: bold;
	margin-left: 10px;
	margin-bottom: 15px;
	font-weight: bold;
	font-family: 'Barlow Condensed', sans-serif;
	font-family: 'Amatic SC', cursive;
}

#header_navbar_lastname{
	color: #E9E9E9;
	font-size: 40px;
	text-decoration: bold;
	margin-left: -5px;
	padding-right: 20px;
	margin-bottom: 15px;
	font-family: 'Barlow Condensed', sans-serif;
	font-family: 'Amatic SC', cursive;
}

.head_connect{
	float: right;
	display: block;
}

.header_connect_element{
    margin-top: 20px;
    padding: 0px 0px 0px 0px;
    float: right;
}

main{

}

footer{
	background-color: #222
}