#content-wrapper{
	display: block;
	min-height: 100%;
	min-height: 712px;
	width: 100%;
}

#mainContent{
	padding-top: 2em;
	padding-left: 4em;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0 auto; 
}


h1{
	font-weight: 500;
	font-style: normal;
	line-height: 1.2em;
	font-size: 50px;
	text-decoration: none;
	letter-spacing: 0.01em;
	color: rgba(3,3,3, 0.9);
	text-align: left;
}

.contact-content div{
	display: inline-block;
	max-width: 33%;
	min-width: 33%;
	position: relative;
}

.contact-content div ul{
	list-style: none;
}


h2{
	font-weight: 400;
	font-style: normal;
	line-height: 1.2em;
	font-size: 35px;
	text-decoration: none;
	letter-spacing: 0.01em;
	color: rgba(3,3,3, 0.9);
	text-align: center;
}

.contact-img{
	width: 120px;
	height: 120px;

  	background-color: rgba(136, 187, 214, 0.7);
  	overflow: hidden;
  	display: block;
  	
  	-moz-border-radius: 100%;
  	-webkit-border-radius: 100%;
  	border-radius: 100%;
  
  	border: 3px solid rgba(0,0,0, 0.5);
  	position: relative;
  	margin: 15px auto;
}

.contact-img img{
	margin-top: 10px;
}

.contact-img:hover{
  	-moz-border-radius: 100%;
  	-webkit-border-radius: 100%;
  	border-radius: 100%;
  
  	border: 3px solid #000;
	background-color: rgba(136, 187, 214, 1);
}

.contact-hire{
	top: -25px;
}

.contact-social-media{
	min-width: 30%;
	max-width: 30%;
	top: -81px;
}











