body{
	font-family: 'Roboto Condensed', sans-serif;
	font-family: 'Hind', sans-serif;
	font-family: 'Catamaran', sans-serif;
	margin:0;
	padding:0;
	background-color: #E9E9E9;
	background-image: url(../img/loader_background.png);
	text-align: center;
	z-index: 10;
}

.loader-wrapper{
	padding-top: 35vh;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  z-index: 11;
  opacity: 1;
  transition: all ease 1s;

  top: 0;
  width: 100%;
  height: 50%;
  position: fixed;
  padding: 0px 0px 0px 0px 0px;
}

.loader-labels {
	list-style-type: none;
  	margin: 0 auto;
  	display: inline-block;
  	padding: 0px;
  	width: 200px;
  	height: 40px;
  	overflow: hidden;
}

.loader-label {
	float: left;
	height: 40px;
	line-height: 30px;
	padding: 0px;
	font-family: 'Barlow Condensed', sans-serif;
	font-family: 'Amatic SC', cursive;
	color: #88BBD6;
	font-size: 35px;
	width: 200px;
	position: relative;
  
  animation: textUp ease 2.5s;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;

  -webkit-animation: textUp ease 2.5s;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-fill-mode: forwards;
  	
  	/*Chrome 16+, Safari 4+*/
  -moz-animation: textUp ease 2.5s;
  -moz-animation-iteration-count: 2;
  -moz-animation-fill-mode: forwards;
  
  	/*FF 5+*/
  -o-animation: textUp ease 2.5s;
  -o-animation-iteration-count: 2;
  -o-animation-fill-mode: forwards;
  
  	/*Not implemented yet*/
  -ms-animation: textUp ease 2.5s;
  -ms-animation-iteration-count: 2;
  -ms-animation-fill-mode: forwards;
  	/*IE 10+*/
}


.loader {
	width: 120px;
  	height: 120px;

  	background-color: #E6E6E6;
  	overflow: hidden;
  	display: block;
  	
  	-moz-border-radius: 100%;
  	-webkit-border-radius: 100%;
  	border-radius: 100%;
  
  	border: 3px solid #88BBD6;
  	position: relative;
  	margin: 15px auto;
  	z-index: 1;
  
  	animation: colorChange ease 2.5s;
  	animation-iteration-count: 2;
  	animation-fill-mode: forwards;
  
  	-webkit-animation: colorChange ease 2.5s;
  	-webkit-animation-iteration-count: 2;
  	-webkit-animation-fill-mode: forwards;
  
  	/*Chrome 16+, Safari 4+*/
  	-moz-animation: colorChange ease 2.5s;
  	-moz-animation-iteration-count: 2;
  	-moz-animation-fill-mode: forwards;
  
  	/*FF 5+*/
  	-o-animation: colorChange ease 2.5s;
  	-o-animation-iteration-count: 2;
  	-o-animation-fill-mode: forwards;
  
  	/*Not implemented yet*/
  	-ms-animation: colorChange ease 2.5s;
  	-ms-animation-iteration-count: 2;
  	-ms-animation-fill-mode: forwards;
  	/*IE 10+*/
}

.loaded .loader-wrapper{
  opacity: 0;
  z-index: 0;
  visibility: hidden; 
}

}

.hidden {
  display: none;
}

.loader-element {
  bottom: 10px;

  animation: animationFrames ease-in 2.5s;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;

  -webkit-animation: animationFrames ease-in 2.5s;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-fill-mode: forwards;
  /*Chrome 16+, Safari 4+*/
  -moz-animation: animationFrames ease-in 2.5s;
  -moz-animation-iteration-count: 2;
  -moz-animation-fill-mode: forwards;
  /*FF 5+*/
  -o-animation: animationFrames ease-in 2.5s;
  -o-animation-iteration-count: 2;
  -o-animation-fill-mode: forwards;
  /*Not implemented yet*/
  -ms-animation: animationFrames ease-in 2.5s;
  -ms-animation-iteration-count: 2;
  -ms-animation-fill-mode: forwards;
  /*IE 10+*/
}

.loader-element img {
  bottom: 5px;
  position: relative;
  right: 3px;
}

@keyframes textUp {
  0% {
    top: 0px;
    display: relative;
    opacity: 0;
  }
  1% {
    top: 0px;
    display: relative;
    opacity: 1;
  }
  24% {
    top: 0px;
    display: relative;
    opacity: 1;
  }
  25% {
    top: 0px;
    display: none;
    opacity: 0;
  }
  26% {
    top: -40px;
    display: relative;
    opacity: 0;
  }
  27% {
    top: -40px;
    display: relative;
    opacity: 1;
  }
  49% {
    top: -40px;
    display: relative;
    opacity: 1;
  }
  50% {
    top: -40px;
    display: none;
    opacity: 0;
  }
  51% {
    top: -80px;
    display: relative;
    opacity: 0;
  }
  52% {
    top: -80px;
    display: relative;
    opacity: 1;
  }
  74% {
    top: -80px;
    display: relative;
    opacity: 1;
  }
  75% {
    top: -80px;
    display: none;
    opacity: 0;
  }
  76% {
    top: -120px;
    display: relative;
    opacity: 0;
  }
  77% {
    top: -120px;
    display: relative;
    opacity: 1;
  }
  99% {
    top: -120px;
    display: relative;
    opacity: 1;
  }
  100% {
    top: -120px;
    display: none;
    opacity: 0;
  }
}

@-webkit-keyframes textUp {
  0% {
    top: 0px;
    display: relative;
    opacity: 0;
  }
  1% {
    top: 0px;
    display: relative;
    opacity: 1;
  }
  24% {
    top: 0px;
    display: relative;
    opacity: 1;
  }
  25% {
    top: 0px;
    display: none;
    opacity: 0;
  }
  26% {
    top: -40px;
    display: relative;
    opacity: 0;
  }
  27% {
    top: -40px;
    display: relative;
    opacity: 1;
  }
  49% {
    top: -40px;
    display: relative;
    opacity: 1;
  }
  50% {
    top: -40px;
    display: none;
    opacity: 0;
  }
  51% {
    top: -80px;
    display: relative;
    opacity: 0;
  }
  52% {
    top: -80px;
    display: relative;
    opacity: 1;
  }
  74% {
    top: -80px;
    display: relative;
    opacity: 1;
  }
  75% {
    top: -80px;
    display: none;
    opacity: 0;
  }
  76% {
    top: -120px;
    display: relative;
    opacity: 0;
  }
  77% {
    top: -120px;
    display: relative;
    opacity: 1;
  }
  99% {
    top: -120px;
    display: relative;
    opacity: 1;
  }
  100% {
    top: -120px;
    display: none;
    opacity: 0;
  }
}

@-moz-keyframes textUp {
  0% {
    top: 0px;
    display: relative;
    opacity: 0;
  }
  1% {
    top: 0px;
    display: relative;
    opacity: 1;
  }
  24% {
    top: 0px;
    display: relative;
    opacity: 1;
  }
  25% {
    top: 0px;
    display: none;
    opacity: 0;
  }
  26% {
    top: -40px;
    display: relative;
    opacity: 0;
  }
  27% {
    top: -40px;
    display: relative;
    opacity: 1;
  }
  49% {
    top: -40px;
    display: relative;
    opacity: 1;
  }
  50% {
    top: -40px;
    display: none;
    opacity: 0;
  }
  51% {
    top: -80px;
    display: relative;
    opacity: 0;
  }
  52% {
    top: -80px;
    display: relative;
    opacity: 1;
  }
  74% {
    top: -80px;
    display: relative;
    opacity: 1;
  }
  75% {
    top: -80px;
    display: none;
    opacity: 0;
  }
  76% {
    top: -120px;
    display: relative;
    opacity: 0;
  }
  77% {
    top: -120px;
    display: relative;
    opacity: 1;
  }
  99% {
    top: -120px;
    display: relative;
    opacity: 1;
  }
  100% {
    top: -120px;
    display: none;
    opacity: 0;
  }
}

@-o-keyframes textUp {
  0% {
    top: 0px;
    display: relative;
    opacity: 0;
  }
  1% {
    top: 0px;
    display: relative;
    opacity: 1;
  }
  24% {
    top: 0px;
    display: relative;
    opacity: 1;
  }
  25% {
    top: 0px;
    display: none;
    opacity: 0;
  }
  26% {
    top: -40px;
    display: relative;
    opacity: 0;
  }
  27% {
    top: -40px;
    display: relative;
    opacity: 1;
  }
  49% {
    top: -40px;
    display: relative;
    opacity: 1;
  }
  50% {
    top: -40px;
    display: none;
    opacity: 0;
  }
  51% {
    top: -80px;
    display: relative;
    opacity: 0;
  }
  52% {
    top: -80px;
    display: relative;
    opacity: 1;
  }
  74% {
    top: -80px;
    display: relative;
    opacity: 1;
  }
  75% {
    top: -80px;
    display: none;
    opacity: 0;
  }
  76% {
    top: -120px;
    display: relative;
    opacity: 0;
  }
  77% {
    top: -120px;
    display: relative;
    opacity: 1;
  }
  99% {
    top: -120px;
    display: relative;
    opacity: 1;
  }
  100% {
    top: -120px;
    display: none;
    opacity: 0;
  }
}

@-ms-keyframes textUp {
  0% {
    top: 0px;
    display: relative;
    opacity: 0;
  }
  1% {
    top: 0px;
    display: relative;
    opacity: 1;
  }
  24% {
    top: 0px;
    display: relative;
    opacity: 1;
  }
  25% {
    top: 0px;
    display: none;
    opacity: 0;
  }
  26% {
    top: -40px;
    display: relative;
    opacity: 0;
  }
  27% {
    top: -40px;
    display: relative;
    opacity: 1;
  }
  49% {
    top: -40px;
    display: relative;
    opacity: 1;
  }
  50% {
    top: -40px;
    display: none;
    opacity: 0;
  }
  51% {
    top: -80px;
    display: relative;
    opacity: 0;
  }
  52% {
    top: -80px;
    display: relative;
    opacity: 1;
  }
  74% {
    top: -80px;
    display: relative;
    opacity: 1;
  }
  75% {
    top: -80px;
    display: none;
    opacity: 0;
  }
  76% {
    top: -120px;
    display: relative;
    opacity: 0;
  }
  77% {
    top: -120px;
    display: relative;
    opacity: 1;
  }
  99% {
    top: -120px;
    display: relative;
    opacity: 1;
  }
  100% {
    top: -120px;
    display: none;
    opacity: 0;
  }
}

@keyframes colorChange {
  0% {
    background-color: #E6E6E6;
  }
  25% {
    background-color: #E6E6E6;
  }
  26% {
    background-color: #E6E6E6;
  }
  50% {
    background-color: #E6E6E6;
  }
  51% {
    background-color: #E6E6E6;
  }
  75% {
    background-color: #E6E6E6;
  }
  76% {
    background-color: #E6E6E6;
  }
  100% {
    background-color: #E6E6E6;
  }
}

@-webkit-keyframes colorChange {
  0% {
    background-color: #E6E6E6;
  }
  25% {
    background-color: #E6E6E6;
  }
  26% {
    background-color: #E6E6E6;
  }
  50% {
    background-color: #E6E6E6;
  }
  51% {
    background-color: #E6E6E6;
  }
  75% {
    background-color: #E6E6E6;
  }
  76% {
    background-color: #E6E6E6;
  }
  100% {
    background-color: #E6E6E6;
  }
}

@-moz-keyframes colorChange {
  0% {
    background-color: #E6E6E6;
  }
  25% {
    background-color: #E6E6E6;
  }
  26% {
    background-color: #E6E6E6;
  }
  50% {
    background-color: #E6E6E6;
  }
  51% {
    background-color: #E6E6E6;
  }
  75% {
    background-color: #E6E6E6;
  }
  76% {
    background-color: #E6E6E6;
  }
  100% {
    background-color: #E6E6E6;
  }
}

@-o-keyframes colorChange {
  0% {
    background-color: #E6E6E6;
  }
  25% {
    background-color: #E6E6E6;
  }
  26% {
    background-color: #E6E6E6;
  }
  50% {
    background-color: #E6E6E6;
  }
  51% {
    background-color: #E6E6E6;
  }
  75% {
    background-color: #E6E6E6;
  }
  76% {
    background-color: #E6E6E6;
  }
  100% {
    background-color: #E6E6E6;
  }
}

@-ms-keyframes colorChange {
  0% {
    background-color: #E6E6E6;
  }
  25% {
    background-color: #E6E6E6;
  }
  26% {
    background-color: #E6E6E6;
  }
  50% {
    background-color: #E6E6E6;
  }
  51% {
    background-color: #E6E6E6;
  }
  75% {
    background-color: #E6E6E6;
  }
  76% {
    background-color: #E6E6E6;
  }
  100% {
    background-color: #E6E6E6;
  }
}

@keyframes animationFrames {
  0% {
    transform: translate(-360px, 15px);
    opacity: 0;
  }
  1% {
    transform: translate(-360px, 15px);
    opacity: 1;
  }
  24% {
    transform: translate(-360px, 15px);
    opacity: 1;
  }
  25% {
    transform: translate(-360px, 15px);
    opacity: 0;
  }
  26% {
    transform: translate(-240px, 15px);
    opacity: 0;
  }
  27% {
    transform: translate(-240px, 15px);
    opacity: 1;
  }
  49% {
    transform: translate(-240px, 15px);
    opacity: 1;
  }
  50% {
    transform: translate(-240px, 15px);
    opacity: 0;
  }
  51% {
    transform: translate(-120px, 15px);
    opacity: 0;
  }
  52% {
    transform: translate(-120px, 15px);
    opacity: 1;
  }
  74% {
    transform: translate(-120px, 15px);
    opacity: 1;
  }
  75% {
    transform: translate(-120px, 15px);
    opacity: 0;
  }
  76% {
    transform: translate(0px, 15px);
    opacity: 0;
  }
  77% {
    transform: translate(0px, 15px);
    opacity: 1;
  }
  99% {
    transform: translate(0px, 15px);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 15px);
    opacity: 0;
  }
}

@-moz-keyframes animationFrames {
  0% {
    transform: translate(-480px, 15px);
  }
  20% {
    transform: translate(-480px, 15px);
  }
  21% {
    transform: translate(-360px, 15px);
  }
  40% {
    transform: translate(-360px, 15px);
  }
  41% {
    transform: translate(-240px, 15px);
  }
  60% {
    transform: translate(-240px, 15px);
  }
  61% {
    transform: translate(-120px, 15px);
  }
  80% {
    transform: translate(-120px, 15px);
  }
  81% {
    transform: translate(0px, 15px);
  }
  100% {
    transform: translate(0px, 15px);
  }
}

@-webkit-keyframes animationFrames {
  0% {
    transform: translate(-360px, 15px);
    opacity: 0;
  }
  1% {
    transform: translate(-360px, 15px);
    opacity: 1;
  }
  24% {
    transform: translate(-360px, 15px);
    opacity: 1;
  }
  25% {
    transform: translate(-360px, 15px);
    opacity: 0;
  }
  26% {
    transform: translate(-240px, 15px);
    opacity: 0;
  }
  27% {
    transform: translate(-240px, 15px);
    opacity: 1;
  }
  49% {
    transform: translate(-240px, 15px);
    opacity: 1;
  }
  50% {
    transform: translate(-240px, 15px);
    opacity: 0;
  }
  51% {
    transform: translate(-120px, 15px);
    opacity: 0;
  }
  52% {
    transform: translate(-120px, 15px);
    opacity: 1;
  }
  74% {
    transform: translate(-120px, 15px);
    opacity: 1;
  }
  75% {
    transform: translate(-120px, 15px);
    opacity: 0;
  }
  76% {
    transform: translate(0px, 15px);
    opacity: 0;
  }
  77% {
    transform: translate(0px, 15px);
    opacity: 1;
  }
  99% {
    transform: translate(0px, 15px);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 15px);
    opacity: 0;
  }
}

@-o-keyframes animationFrames {
  0% {
    transform: translate(-360px, 15px);
    opacity: 0;
  }
  1% {
    transform: translate(-360px, 15px);
    opacity: 1;
  }
  24% {
    transform: translate(-360px, 15px);
    opacity: 1;
  }
  25% {
    transform: translate(-360px, 15px);
    opacity: 0;
  }
  26% {
    transform: translate(-240px, 15px);
    opacity: 0;
  }
  27% {
    transform: translate(-240px, 15px);
    opacity: 1;
  }
  49% {
    transform: translate(-240px, 15px);
    opacity: 1;
  }
  50% {
    transform: translate(-240px, 15px);
    opacity: 0;
  }
  51% {
    transform: translate(-120px, 15px);
    opacity: 0;
  }
  52% {
    transform: translate(-120px, 15px);
    opacity: 1;
  }
  74% {
    transform: translate(-120px, 15px);
    opacity: 1;
  }
  75% {
    transform: translate(-120px, 15px);
    opacity: 0;
  }
  76% {
    transform: translate(0px, 15px);
    opacity: 0;
  }
  77% {
    transform: translate(0px, 15px);
    opacity: 1;
  }
  99% {
    transform: translate(0px, 15px);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 15px);
    opacity: 0;
  }
}

@-ms-keyframes animationFrames {
  0% {
    transform: translate(-360px, 15px);
    opacity: 0;
  }
  1% {
    transform: translate(-360px, 15px);
    opacity: 1;
  }
  24% {
    transform: translate(-360px, 15px);
    opacity: 1;
  }
  25% {
    transform: translate(-360px, 15px);
    opacity: 0;
  }
  26% {
    transform: translate(-240px, 15px);
    opacity: 0;
  }
  27% {
    transform: translate(-240px, 15px);
    opacity: 1;
  }
  49% {
    transform: translate(-240px, 15px);
    opacity: 1;
  }
  50% {
    transform: translate(-240px, 15px);
    opacity: 0;
  }
  51% {
    transform: translate(-120px, 15px);
    opacity: 0;
  }
  52% {
    transform: translate(-120px, 15px);
    opacity: 1;
  }
  74% {
    transform: translate(-120px, 15px);
    opacity: 1;
  }
  75% {
    transform: translate(-120px, 15px);
    opacity: 0;
  }
  76% {
    transform: translate(0px, 15px);
    opacity: 0;
  }
  77% {
    transform: translate(0px, 15px);
    opacity: 1;
  }
  99% {
    transform: translate(0px, 15px);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 15px);
    opacity: 0;
  }
}

header{
	height: 0%;
	width: 0%;
	overflow: hidden;
}

.loaded header{
	background-color: #99D3DF;
	height: 75px;
	width: 100%;
	display: block;
	position:fixed;
	bottom: 0;
	z-index: 1;
  transition: height ease 1.5s;
}

.loaded .header_line{
	height: 2px;
	color: #444;
	background-color: #88BBD6;
	width: 100%;
	z-index: 1;
}

.loaded .header_wrapper{
	overflow: scroll;
	bottom: 0;
	padding-bottom: 7px;
}

.loaded .header_navbar{
	display: block;
	float: left;
}

.loaded .header_navbar a{
	float: left;
	text-align: center;
	text-decoration: none;
	font-size: 17px;
	padding: 10px 7px;
	color: #E9E9E9;
}

.header_navbar a:active{
	color: #200;
}

.header_navbar a:hover{
	color: #888;
}

.header_navbar_nav{
	margin-top: 12px;
	display: inline-block;
}

.loaded #header_navbar_firstname{
	color: #E9E9E9;
	font-size: 40px;
	text-decoration: bold;
	margin-left: 10px;
	margin-bottom: 15px;
	font-weight: bold;
	font-family: 'Barlow Condensed', sans-serif;
	font-family: 'Amatic SC', cursive;
}

.loaded #header_navbar_lastname{
	color: #E9E9E9;
	font-size: 40px;
	text-decoration: bold;
	margin-left: -5px;
	padding-right: 20px;
	margin-bottom: 15px;
	font-family: 'Barlow Condensed', sans-serif;
	font-family: 'Amatic SC', cursive;
}

.loaded .header_connect{
	float: right;
	display: block;
  width: 180px;
  margin-top: 17px;
}

.loaded .header_connect_element{
    margin-top: 25px;
    padding-right: 5px;
}

.loaded .nav-bar-icon{
  display: none;
}

#mobile-navigation{
  display: none;
}

main{

}

@media screen and (max-width: 750px){
  .loaded .header_connect{
    width: 120px;
    margin-top: 22px;
  }

  .loaded .header_navbar a{

    font-size: 17px;
    padding: 10px 5px;
  }

  .loaded #header_navbar_lastname{
    font-size: 40px;
  }

  .loaded #header_navbar_firstname{
    font-size: 40px;
  }
}

@media screen and (max-width: 675px){
  .loaded .header_navbar a{
    font-size: 15px;
    padding: 12px 4px;
  }

  .loaded #header_navbar_lastname{
    font-size: 40px;
  }

  .loaded #header_navbar_firstname{
    font-size: 40px;
  }
}

@media screen and (max-width: 620px) {
  .header_navbar a:not(.header_navbar_name) {
    display: none;
  }
  .loaded .header_connect{
    display: none;
    width: 0%;
  }
  .loaded .header_connect a{
    display: none;
  }
  .header_wrapper a.nav-bar-icon{ 
    float: right;
    display: block;
    margin-top: 15px;
    margin-right: 0px;
    padding: 0;
    width: 100px;
  }
}

@media screen and (max-width: 620px) {
  .loaded header.responsive{
    position: fixed;
    top: 0;
  }

  .header_wrapper.responsive {
    background-color: #99D3DF;
  }
  header.responsive .header_line{
    display: none;
    height: 0%;
  }
  #mobile-navigation.responsive{
    display:block;
    position:absolute;
    width:100%;
    top:75px;
    bottom:0px;
    overflow-y:scroll;
    overflow-x:hidden;
    background-color:#88BBD6;
    opacity: 0.7;
  }
  #mobile-navigation.responsive ul{
    list-style:none;
    padding:0;
    margin:0
  }
  #mobile-navigation.responsive ul li{
    color:#a8a8a8;
    font-size:18px !important;
    line-height:44px;
    border-bottom: 1px solid #dedede;
  }
  #mobile-navigation.responsive ul:first-child{
    border-top: 2px solid #5588A3;
  }
  #mobile-navigation.responsive ul a{
    display:inline-block;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    width:100%;
    height:100%;
    padding:0 17px;
    color:#E6E6E6;
    text-decoration:none;
    font-size:18px !important;
    opacity: 1;
  }
  #mobile-navigation.responsive ul a:hover{
    color:#888888;
    opacity: 1;
  }
}

@media screen and (max-width: 355px) {
  .header_navbar a:not(:first-child) {
    display: none;
  }
  .loaded .header_connect{
    display: none;
    width: 0%;
  }
  .loaded .header_connect a{
    display: none;
  }
  .header_wrapper a.nav-bar-icon{ 
    float: right;
    display: block;
    margin-top: 15px;
    margin-right: 0px;
    padding: 0;
    width: 100px;
  }
}




